/* Untuk Tablet */
@media all and (max-width: 1100px) {
 
  .lesson {
    width:50%;
    margin-bottom:50px;
  }
 
  header {
   height: 70px;
  }
  
  header-logo{
   font-size:25px;
   padding-left:0px;
  }
  
  .container h1{
    font-size:20px;
  }
 
  .container h1{
   font-size:20px;
 }

  .footer-logo {
    margin-left:20px;
    font-size:10px; 
  }

  .footer li {
    margin-right:20px;
  }

  .lesson-wrapper {
    height:1000px;
  } 

}
 


/* Untuk Smartphone */
@media all and (max-width: 670px) {

  .lesson {
    width:60%;
  }
 
 header {
  height:50px;
 }
 
 .heading {
  padding-top: 20px;
 }
 
 .header-logo{
  font-size:20px;
  padding-left:0px;
 }

  .container h1{
    font-size:15px;
  }

  .container h2{
    font-size:10px;
  }
  
 .footer-list {
  font-size:15px;
 }
 
 .footer-name {
  display:none;
 }
 
  .lesson-wrapper {
    height:1600px
  } 
 
 span.menu-icon{
  display:block;
 }
 
 .header-list{
  display:none;
 }
}
