/* Reset CSS (JANGAN DIHAPUS) */
html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
input,
div {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Arial";
}

li {
  list-style: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 150px 0px 20px 0px;
  background-image: url(assets/topheader2.png);
  background-size: 100% 100%;
  background-color: #0abde3;
  text-align: center;
}

.container h1 {
  font-size: 30px;
  color: yellow;
}
.container h2 {
  font-size: 20px;
  color: white;
}

header {
  height: 80px;
  width: 100%;
  background-color: #2e86de;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-logo {
  float: Left;
  font-size: 36px;
  font-family: "Arial Black";
  color: #eb2f06;
  padding: 10px 20px;
  background-color: #2e86de;
}
.header-list li {
  float: right;
  color: white;
  padding: 30px;
  background-color: #2e86de;
}

.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}
.heading h1 {
  font-weight: normal;
  color: blue;
}

.lesson {
  float: left;
  width: 20%;
}

@keyframes example {
  from {
    font-size: 5px;
  }
  to {
    font-size: 15px;
  }
}

.lesson-icon {
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 10;
  animation-direction: alternate;
}

.lesson-icon p {
  position: bottom;
  top: 90px;
  width: 100%;
  color: red;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: blue;
}

.footer {
  background-color: #48dbfb;
  height: 70px;
  padding: 10px;
}
.footer-logo {
  float: left;
  font-size: 26px;
  font-family: "Arial Black";
  color: #1e3799;
}
.footer-list {
  float: right;
}
.footer-list li {
  list-style-type: none;
  color: #341f97;
}
